DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On
	# FAQ redirects
	RewriteRule ^faq/acronyms https://plus.google.com/113265899877877466642/posts/RLgsjDBfZdQ [R=301,L]
	RewriteRule ^faq/farms https://plus.google.com/100049510410805453768/posts/MtcySGQqCNn [R=301,L]
	# Misc redirects
	RewriteRule ^chat https://app.groupme.com/join_group/17250334/xBOpaM [QSA,L]
	# Wordpress
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>
